<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Careers</title>
    <style>
      h1 {
        font-size:20px;
        font-family: monospace;
        text-align:center;
      }
      #hello{
        height: 300px;
        margin:0 auto;
      }
      body{
        background-color: #e6e6e6;
        background-image:url(static/banner.jpg);
      }
      p{
        font-family: monospace;
        font-size: 14px;
        color: #4a4a4a;
        margin:0 auto;
      }
    </style>
  </head>
<body>
  <h1>Jovian Careers</h1>
  <img id='hello' src="static/banner.jpg" >
  <p>Pellentesque consequat ipsum feugiat justo pharetra, sit amet gravida libero dignissim. Praesent ac erat dictum, rhoncus dui et, finibus est. Ut eget viverra est. Pellentesque condimentum, quam quis pellentesque commodo, purus urna malesuada eros, ut iaculis risus odio ut justo. Nullam urna mauris, commodo ac purus id, elementum congue nulla. Nulla et elit blandit, aliquet nulla et, commodo eros. Donec tincidunt quis massa eu dictum. Nulla urna mauris, luctus vitae neque eu, rhoncus dictum nibh. Integer in efficitur ante, nec malesuada sapien. Aliquam et leo malesuada, eleifend neque rutrum, venenatis eros. Praesent tristique massa tincidunt venenatis accumsan. Mauris pellentesque neque eu odio lobortis, ac scelerisque diam consectetur. Aenean laoreet, neque interdum vehicula semper, tellus orci commodo nisl, in mattis tellus eros quis velit. Donec volutpat viverra mi et venenatis. et congue. Phasellus molestie luctus semper.</p>
  <button>Contact Us</button>
</body>
</html>